.container{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 25vw;
    height: 65vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.display{
    width: 95%;
    border-radius: 10px;
    height: 60px;
    background-color: rgba(123, 123, 123, 0.534);
    margin: auto;
    color: white;
    display: flex;
    align-items:center;
    justify-content:end;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}

.buttons{
    width: 98%;
    height: 80%;
    /* background-color: beige; */
    margin: 8px 4px;

    display: flex;
    color: white;
}

.numbers{
    /* background-color: cadetblue; */
    width: 75%;
    height: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.operations{
    margin-left: 4px;
    /* background-color: blueviolet; */
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    gap: 10px;
}

.b1{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    border-radius: 10px;
    background-color: rgba(110, 110, 110, 0.708);
    justify-content: center;
    align-items: center;
}

.b2{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    border-radius: 10px;
    background-color: rgba(110, 110, 110, 0.708);
    justify-content: center;
    align-items: center;
}

.b1:hover,
.b2:hover{
    background-color: rgba(46, 46, 46, 0.708);

}